//colors
$dark-grey: #333333;
$dark-blue: #364051;
$light-grey: #f5f5f5;
$grey: #666666;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$light-blue: RGB(0, 150, 220);
//font size
$font-size-large: 1.8rem;
